*{
  margin: 0px;
  padding: 0px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
  background-color:white;
  scroll-behavior: smooth;
}
.navbar{
  width: 100%;
  height: 60px;
  background-color:#036645;
  /* position: absolute; */
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  color: white;
  align-items: center;
}
.nav-logo{
  width: 100px;
  height: 50px;
}
.logo{
  background-image: url(Amazon-Emblem.png);
  background-color: none;
  background-size: cover;
  width: 100%;
  height: 50px;
}
.borders{
  border: 1.5px solid transparent;
}
.borders:hover{
  box-shadow: 3px 3px black;
  border-radius: 4px;
}
.border{
  border:1.5px solid transparent ;
  margin-left: 10px;
}
.border:hover{
  border: 1.5px solid white;
}
.icon{
  display: flex;
}
.first-address{
  color: #cccccc;
  font-size: 0.8rem;
  margin-left: 15px;
}
.sec-address{
  font-size: 1rem;
  margin-left: 5px;
  font-weight: bold;
}
.address{
margin:15px;
}
.search{
  display: flex;
}
input{
  width: 700px;
  height: 40px;
  border: 3px;
  font-size:medium;
  text-transform: capitalize;
  padding-left: 10px;
  
}
.search-icon{
  background-color:rgb(255, 179, 0);
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
select{
  border: 3px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color:bisque;
}
.sine{
 margin-left: 15px;
}
.signin{
  font-size: small;
}
.account{
  font-size: medium;
  font-weight: bold;
}
.reorder{
  margin-left: 15px;
}
.returns{
  font-size: small;
}
.orders{
  font-size: medium;
  font-weight: bold;
}
.cartt{
  margin-left: 15px;
 display: flex;
 align-items: center;
}
.cart{
  font-size: medium;
  font-weight: bold;
  /* margin-top: 15px; */
}
.cart-icon i{
  font-size: 30px;
}
.panel{
  background-color: #085749;
  height: 40px;
  color: white;
  display: flex;
  justify-content:space-around;
  align-items: center;
}
.panel-ops{
  width: 70%;
}
.panel-ops a{
  color: white;
  text-decoration: none; 
  margin-left: 15px;
}
.panel-all{
  display: flex;
}
.panel-all p{
  margin-left: 10px;
}

.hero{
  background-image:url(amzn\ bg.jpg);
  height: 295px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin:0px 5px;
}
.hero-msg{
  background-color: white;
  height: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 0.3rem;
  width: 90%;
}
.hero-msg p{
  font-size: medium;
  font-family:Arial, Helvetica, sans-serif;
 display: flex;
 justify-content: center;
 align-items: center;
}
.hero-msg a{
  text-decoration: none;
  color:#007185;
  margin-left: 0.1rem;
}
.box{
  width: 23%;
  height: 380px;
  background-color: white;
  padding: 20px 0px 15px;
  margin: 5px;
}
.boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  background-color: #FF6201;
  margin: 0px 5px;
}

.box-1-img{
  height: 300px;
  background-size: cover;
  margin-top:9px;
  margin-bottom: 9px;
}
.box-content{
  margin-left: 20px;
  margin-right: 20px;
}
.shop a{
  color: #007185;
  text-decoration: none;
}
.shop a:hover{
  color: #FF6201;
}
footer{
  margin-top: 0.85rem;
}
.foot-panel1{
  height: 40px;
  background-color:#485769 ;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  margin:0px 5px;
}
.foot-panel1 a{
  text-decoration: none;
  color: white;
}
.foot-panel2{
  height: 320px;
  background-color: #232F3E;
  color: white;
   /* display: flex; */
  /* justify-content: space-around; */
 /* align-items: center;  */
 margin:0px 5px;
 
}
.foot-panel2 a{
  color: white;
  text-decoration: none;
  display: block;
  margin-top: 0.65rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  
}
 .panel2-content{ 
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-top: 1px; */
 height: 280px;
 margin-bottom: 20px;
} 
.foot-panel3{
  height: 75px;
  background-color: #232F3E;
  border-top: 0.5px solid #fff ;
  margin:0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.logo{
  background-image: url(Amazon-Emblem.png);
  background-color: none;
  background-size: cover;
  width: 80px;
  height: 40px;
}
@media  (max-width: 450px){
  .navbar{
      background-color: black;
      /* width: 100px; */
  }
  .box{
    width: 50px;
    height: 50px;
  }
  input{
    width: 100px;
  }
  select{
    width: 20px;
  }
  .hero{
    background-image: url(amzngbgphone.jpg);
    /* background-position: 50px; */
    /* height: 180px; */
    /* display: none; */

  }









  }



